In [1]:
list = ['blue', 'black', 'grey'] #list is a type of inbuilt data structure
for i in list:   #Syntax of for loop, here i works as iterator
	print(i)

blue
black
grey

In [5]:
x = 0
while x < 5:  #while condition this loop will work until this condition is true
	print('Hello_WOrld', x)  #block of code 
	x = x + 1

print('This is outside the while block')

Hello_WOrld 0
Hello_WOrld 1
Hello_WOrld 2
Hello_WOrld 3
Hello_WOrld 4
This is outside the while block

In [ ]:
#Please do not execute
x  = 0
while x == 0:
	print('Helloow World!')  #this print will execute again and again
    break
print("This will not work") # as program will never came outside a while loop this will never work

In [7]:
list = ['blue', 'orange', 'yellow', 'pink']
for i in list:
	if i == 'blue':
		print('the color is blue')
	elif i == 'orange':
		print('the color is orange')
	elif i == 'yellow':
		print('the color is yellow')
	else:
		print('the color is pink')

print('This statement is outside the for loop')

the color is blue
the color is orange
the color is yellow
the color is pink
This statement is outside the for loop

In [9]:
#Else with for loop
lst = [32, 44, 45]
for i in lst:
	print(i)
else:
	print('This is else statement executed after for loop')

32
44
45
This is else statement executed after for loop

In [11]:
#Conditionals in while loop
x = 0
while x < 5:
	if x % 2 == 0:
			print('Even Number', x)
	else:
			print('Odd Number', x)
	x = x + 1

print('This statement is outside while loop')

Even Number 0
Odd Number 1
Even Number 2
Odd Number 3
Even Number 4
This statement is outside while loop

In [14]:
#Else with wile loop
x = 0
while(x < 3):
	print(x)
	x = x + 1

else:
	print('This is else for while loop')

0
1
2
This is else for while loop

In [15]:
#Nested for loop:
find = [67, 58]
numbers = [43, 44, 56, 67, 58, 89]
#need to findout index of numbers of find list in numbers list
for i in find:
	for j in numbers:
			if i == j:
					print('index of i is', numbers.index(j))

index of i is 3
index of i is 4

In [11]:
#Nested while loop
x = 1
while x < 3:
    y = 0
    while y < 3:

        print(x, y)
        y = y + 1
    x = x + 1

1 0
1 1
1 2
2 0
2 1
2 2

In [12]:
for i in range(6):
      print(i)

0
1
2
3
4
5

In [13]:
for i in range(1,6):
       print(i)

1
2
3
4
5

In [14]:
for i in range(0,6,2):
        print(i)

0
2
4

In [16]:
lst = [ 23, 44, 56, 78, 99]
itr_obj = iter(lst)
while len(lst) > 0:
	try:
		itr = next(itr_obj)
		itr = itr * itr  # we can add any functionality here
		print(itr)
	except StopIteration:
		break # this will take us out of infinite while

529
1936
3136
6084
9801

In [18]:
#Example of break statement
lst = [ 22, 33, 44, 55, 66, 77]
for i in lst:
	if i == 55:
		break #after 44 nothing will be executed
	else:
		print(i)

22
33
44

In [20]:
#Example of continue statement
lst = [ 22, 33, 44, 55, 66, 77]
for i in lst:
	if i == 55:
		continue #55 will be skipped and others will be printed
	else:
		print(i)

22
33
44
66
77

In [21]:
#Example of Pass statement
lst = [ 22, 33, 44, 55, 66, 77]
for i in lst:
	pass # a empty for loop did nothing
else:
	print('this is outside the for loop')

this is outside the for loop

In [32]:
#Examples
#List 
Lst = ['orange', 'mango', 'apple', 'kiwi']
print('List')
for i in Lst:
    print(i)

#Set 
S1 =  {'one', 'three', 'two'}
print('\nSet')
for i in S1: 
    print(i)

#Tuple
tup = ('one', 'three', 'two')
print('\nTuple')
for i in tup:
	print(i)

#Dictionary
dct = { 'one': 1, 'two':2, 'three': 3, 'four':4}
print('\nDictionary')
for i in dct:
	print(i, dct[i])

List
orange
mango
apple
kiwi

Set
three
one
two

Tuple
one
three
two

Dictionary
one 1
two 2
three 3
four 4